/*
--------------------------------------------------------------
                      Individual page
--------------------------------------------------------------
1-Header -----------------------------------------------------
2-Controller section -----------------------------------------
3-Kubernetes section -----------------------------------------
4-twitter section --------------------------------------------
5-Customers section ------------------------------------------ 
6-Our blog section -------------------------------------------
7-footer --------- -------------------------------------------

 */

/*------------------------1-Header-----------------------------*/

.stakater_header
{
   width: 100%;
   background: url(..//images/header.jpg);
   height: 610px;
   background-size: cover;
}

.stakater_header .ingress_container
{
   margin-top: 175px;
}

.stakater_header .ingress_container h1
{
   color: #fff;
   font-weight: 700;
   font-family: 'Raleway', sans-serif;
   font-size: 50px;
}

.stakater_header .ingress_container p
{
   color: #fff;
   font-weight: 400;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   margin-top: 12px;
}

.stakater_navbar
{
	background: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a 
{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 15px;
    font-size: 14px;
}

.navbar-brand > img 
{
    margin-top: 10px;
}

.latest_release
{
	background: #fff;
	border-radius: 20px;
  margin-top: 20px;
}

.latest_release .latest_btn
{
	border-radius: 15px;
	height: 25px;
	line-height: 10px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight: 400;
  background-color: #f97332;
  border-color: #f97332;
}

.latest_release .ingressM
{
	color: #3d4677;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
}

.latest_release .release_v
{
	 background: transparent;
	 border: transparent;
	 color: #f97f35;
	 font-family: 'Raleway', sans-serif;
	 font-weight: 700;
	 font-size: 12px;
   text-decoration: underline;
}

.latest_release .badge-arrow
{
   background: transparent;
}

.latest_release .right_arrow
{
   color: #f97f35;
   font-size: 12px;
}

.git_container
{
   background: #fff;
   margin-top: 50px;
   border-radius: 12px;
   box-shadow: 0 49px 94px 6px rgba(174, 177, 222, 0.2);
   padding-bottom: 30px;
}

.git_container .git_pro_box img
{
   margin: 0 auto;
   display: table;
}

.git_container .git_pro_box
{
    margin-top: 40px;
}

.git_container .git_pro_box h3
{
    color: #2e3280;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

/*---------------------end of 1-Header-------------------------*/


/*-------------------2-Controller section --------------------  */

.Controller_section
{
   margin-top: 200px;
}

.Controller_section p
{
   font-family: 'Raleway', sans-serif;
   color: #3d4677;
   font-size: 16px;
}

/*-----------------end of 2-Controller section ---------------  */




/*-------------------3-Kubernetes section --------------------  */

.Kubernetes_section
{
   margin-top: 200px;
}

.Kubernetes_section h4
{
   font-weight: 600;
   font-family: 'Raleway', sans-serif;
   color: #3d4677;
}

.Kubernetes_section p
{
   font-family: 'Raleway', sans-serif;
   color: #3d4677;
   line-height: 30px;
}

.Kubernetes_section .slack_container
{
  margin-top: 100px;
}

.Kubernetes_section .slack_container .slack_btn
{
   color: #fc9322;
   margin: 0 auto;
   display: table;
   background: transparent; 
   font-size: 20px;
   border: 2px solid #fc9322;
   border-radius: 6px;
   box-shadow: 0 17px 54px rgba(252, 147, 34, 0.1);
   height: 92px;
   width: 492px;
}

.Kubernetes_section .slack_container .slack_btn .slack_bg
{
    background: transparent;
}

/*-----------------end of 3-Kubernetes section ---------------  */


/*---------------------4-twitter section ---------------------  */

.twitter_section
{
    margin-top: 190px;
    background: url(..//images/twitter_bg.jpg);
    width: 100%;
    background-size: cover;
    padding-bottom: 30px;
}

.twitter_section .twitter_content
{
    margin-top: 120px;
}

.twitter_section .twitter_content h3
{
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 30px;
}

.twitter_section .twitter_content h4
{
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: 20px;
   margin-bottom: 20px;
}

.twitter_section .twitter_content .join_twitter
{
  width: 200px;
  height: 55px;
  background-color: white;
  border-color: white;
  border-radius: 3px;
  box-shadow: 0 17px 54px rgba(173, 175, 218, 0.3);
  color: #3d4677;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.twitter_section .twitter_content .twitter_icon 
{
   color: #1da1f2; 
   font-size: 18px;
   margin-left: 10px;
}

.twitter_section .twitter_box
{
    margin-top: 40px;
}

/*------------------- 5-Customers section --------------------  */

.customers_section
{
  margin-top: 150px;
}

.customers_section h2
{
   color: #2e3280;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 40px;
}

.customers_section p
{
   color: #2e3280;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 400;
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: -80px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

.customers_section #quote-carousel blockquote h6
{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #3d4677;
}

.customers_section #quote-carousel .team_img
{
   margin-top: 20px;
}

.customers_section #quote-carousel .team_head_content 
{
   margin-top: 30px;
}


.customers_section #quote-carousel .team_name
{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #2e3280;  
    margin-top: 15px;
}

.customers_section #quote-carousel .team_lux
{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #8385b1; 
}

.customers_section #quote-carousel .date
{
    text-align: right;
    margin-top: 60px;
    
}

.customers_section #quote-carousel .date .date_content > li 
{
    margin: -7px;
    opacity: 0.5;
    color: #3d4677;
    font-size: 14px;
}

.customers_section #quote-carousel .date .date_content > .time_z
{
    font-size: 16px; 
}

div#quote-carousel 
{
    
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 49px 94px 6px rgba(221, 222, 234, 0.5);
}

.carousel-indicators li 
{
    width: 30px;
    height: 7px;
    background-color: #f8983c;
    border-radius: 5px;
}

#quote-carousel .carousel-indicators .active 
{
    background-color: #f8973a;
    width: 40px;
    height: 7px;
}

#quote-carousel .carousel-indicators li 
{
    background-color: #faca9d;
}

/*----------------end of 6-Customers section -----------------  */



/*------------------ 6-our blog section ----------------------  */

.blog_section
{
    margin-top: 100px;
}


.blog_section h2
{
   color: #2e3280;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 40px; 
}

.blog_section p
{
   color: #2e3280;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 400;
}

.blog_section .blog_container
{
  border-radius: 10px;
  box-shadow: 0 49px 94px 6px rgba(221, 222, 234, 0.5);
  margin-top: 50px;
}

.blog_section .blog_container2
{
   border-radius: 10px;
  box-shadow: 0 49px 94px 6px rgba(221, 222, 234, 0.5);  
  margin-top: 50px;
  padding-bottom: 20px;
}

.blog_section .blog_container .blog_content
{
   padding: 40px;
}

.blog_section .blog_container2 .blog_content2
{
   /*padding: 30px;*/
}

.blog_section .blog_container2 .blog_content2 .team_content
{
   padding-left: 30px;
   padding-right: 30px;
}

.blog_section .blog_container2 .blog_icons2
{
    margin-top: 35px;
    margin-left: 5px;
}

.blog_section .blog_container .blog_icons .soc
{
   background: transparent;
   border-color: transparent;
}

.blog_section .blog_container2 .blog_icons2 .soc2
{
   background: transparent;
   border-color: transparent;
   width: 80px;
}

.blog_section .blog_container .blog_icons .bad_trans
{
   background: transparent;
}

.blog_section .blog_container .blog_icons .bad_trans2
{
   background: transparent;
}

.blog_section .blog_container .blog_icons .soc a
{
   color: #3d4677;
   text-decoration: none;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
}

.blog_section .blog_container2 .blog_icons2 .soc2 a
{
   color: #3d4677;
   text-decoration: none;
   font-size: 12px;
   font-family: 'Raleway', sans-serif;
}

.blog_section .blog_container h3
{
   font-family: 'Raleway', sans-serif;
   color: #3d4677;
   font-weight: 400;
   line-height: 35px;
   font-size: 20px;
}

.blog_section .blog_container2 h3
{
   font-family: 'Raleway', sans-serif;
   color: #3d4677;
   font-weight: 400;
   line-height: 35px;
   font-size: 20px;
}

.blog_section .blog_container p
{
   color: #3d4677;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 13px;
   line-height: 30px;
}

.blog_section .blog_container2 p
{
   color: #3d4677;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 13px;
   line-height: 30px;
}

.blog_section .blog_container .buttons_con
{
   margin-top: 15px;
}

.blog_section .blog_container2 .buttons_con2
{
   margin-top: 15px;
   padding-bottom: 10px;
}

.blog_section .blog_container .buttons_con .update
{
    width: 105px;
    height: 40px;
    background-color: #d5f5e3;
    border-color: #d5f5e3;
    border-radius: 20px;
    color: #2ecc71;
    transition: all 0.5s;
}

.blog_section .blog_container2 .buttons_con2 .update
{
    width: 105px;
    height: 40px;
    background-color: #d5f5e3;
    border-color: #d5f5e3;
    border-radius: 20px;
    color: #2ecc71;
    transition: all 0.5s;
}

.blog_section .blog_container .buttons_con .update:hover
{
    width: 105px;
    height: 40px;
    background-color: #fae5d3;
    border-color: #fae5d3;
    border-radius: 20px;
    color: #e67e22;
}

.blog_section .blog_container2 .buttons_con2 .update:hover
{
    width: 105px;
    height: 40px;
    background-color: #fae5d3;
    border-color: #fae5d3;
    border-radius: 20px;
    color: #e67e22;
}

.blog_section .blog_container .buttons_con .release
{
    width: 110px;
    height: 40px;
    background-color: #d5f5e3;
    border-color: #d5f5e3;
    border-radius: 20px;
    color: #2ecc71;
}

.blog_section .blog_container2 .buttons_con2 .release
{
    width: 110px;
    height: 40px;
    background-color: #d5f5e3;
    border-color: #d5f5e3;
    border-radius: 20px;
    color: #2ecc71;
    margin-bottom: 28px;
}

.blog_section .blog_container .buttons_con .release:hover
{
    width: 110px;
    height: 40px;
    background-color: #fae5d3;
    border-color: #fae5d3;
    border-radius: 20px;
    color: #e67e22;
}

.blog_section .blog_container2 .buttons_con2 .release:hover
{
    width: 110px;
    height: 40px;
    background-color: #fae5d3;
    border-color: #fae5d3;
    border-radius: 20px;
    color: #e67e22;
}

/*------------------- 7-footer ---------------------  */

footer
{
  background: url(..//images/footer_bg.png);
  width: 100%;
  height: 500px;
  margin-top: 150px;
  
}

footer .contact_box
 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px #e9eff7;
 }

 footer .contact_box p
 {
   font-size: 22px;
   color: #201345;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   margin-top: 30px;
   padding-bottom: 30px;
 }

 footer .contact_box .contact_btn
 {
   background-image: linear-gradient(68deg, #f97427 0%, #f3a700 100%);
   border-radius: 30px;
   color: #fff;
   width: 200px;
   border: 8px solid #fef1e9;
   height: 60px;
   margin-top: 35px;
   font-family: 'Raleway', sans-serif;
 }

footer .footer_content
{
   margin-top: 70px;
}

 footer h3
 {
     color: #fff;
     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     font-size: 30px;
 }

footer .footer_menu
 {
     margin-top: 30px;
 }

footer .footer_menu li
 {
     margin: 20px;
 }

 footer .footer_menu li a
 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s;
 }

 footer .footer_menu li a:hover
 {
    text-decoration: none;
    color: yellow;
 }

/*--------------- end of footer --------------------  */
